@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    background-color: #b8b8b8;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #ebebeb;
}

.text-center {
    text-align: center;
}

.paragraph {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}

.form {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid black;
    padding-top: 15px;
}

.form__control {
    margin-bottom: 10px;
}

.form__label {
    display: block;
    margin: 0 0 2px;    
}

.form__input {
    width: 100%;
    height: 24px;
    padding: 0 5px;
    border: 1px solid #b8b8b8;
}

.form__textarea {
    width: 100%;
    height: 66px;
    padding: 5px;
    border: 1px solid #b8b8b8;
    resize: none;
}

.form__button {
    width: 100%;
    height: 42px;
    background-color: #b8b8b8;
    border: 1px solid #000;
    margin: 10px 0 0;
    cursor: pointer;
}

.form .error-empty {
    display: none;
}